<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>검색 결과</title>
  </head>
  <body>
    <h1>birth: <%= startDate %> ~ <%= endDate %> 검색 결과</h1>
    <% if (filteredUsers.length === 0) { %>
    <p>해당 기간 내에 사용자가 없습니다.</p>
    <% } else { %>
    <table>
      <thead>
        <tr>
          <th>이름</th>
          <th>생년월일</th>
          <th>전화번호</th>
          <th>주소</th>
        </tr>
      </thead>
      <tbody>
        <% filteredUsers.forEach(function(user) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.birth %></td>
          <td><%= user.phoneNumber %></td>
          <td><%= user.address %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
