<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script defer src="script.js"></script>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>이름</th>
          <th>전화번호</th>
          <th>생년월일</th>
          <th>주소</th>
          <th>수정</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr>
          <td><%= user._id %></td>
          <td><%= user.name %></td>
          <td><%= user.phoneNumber %></td>
          <td><%= user.birth %></td>
          <td><%= user.address %></td>
          <td>
            <button onclick="openModal('<%= user._id %>')">
              전화번호 수정
            </button>
            <!-- 수정 버튼 클릭 시 모달 창 열기 -->
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>사용자 정보 수정</h2>
        <form id="editForm">
          <input type="hidden" id="userId" name="userId" value="" />
          <label for="newPhoneNumber">새 전화번호:</label>
          <input type="text" id="newPhoneNumber" name="newPhoneNumber" />
          <br />
          <button type="submit">저장</button>
        </form>
      </div>
    </div>
  </body>
</html>
